* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.prenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0476D0;
}

.prenav .pre {
  width: 33vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prenav .pre img {
  width: 32%;
}

.prenav .pre h1 {
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.prenav .pre h1 span {
  font-size: 2rem;
  font-family: cursive;
}

.prenav .pre p {
  color: white;
  font-size: 1.3rem;
}

.prenav .pre p span {
  font-size: 2rem;
}

.banner-area {
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
  color: #fff;
  font-family: Poppins;
}

.banner-area h2 {
  padding: 20px;
  text-align: center;
  font-family: Audiowide;
}

.menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: -webkit-sticky;
  position: sticky;
}

.menu-area li {
  background: #262626;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-transition: .6s;
  transition: .6s;
}

.menu-area li:not(:first-child) {
  border-left: 2px solid #fff;
}

.menu-area li:hover {
  background: #a3e2a6;
}

.menu-area li a {
  display: block;
  padding: 15px 0;
  color: inherit;
  text-decoration: none;
  font-family: Poppins;
  text-transform: uppercase;
}

input[type=checkbox], .res-menu {
  display: none;
}

.menu-area li:not(:last-child) {
  border: 0;
}

.menu-area li:not(:last-child) {
  margin: 2px 0;
}

section {
  overflow: hidden;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60vh;
  margin: 0px auto;
  background-image: url("/img/school.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  -webkit-animation: slider 60s  linear infinite;
          animation: slider 60s  linear infinite;
}

@-webkit-keyframes slider {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 100% 0px;
  }
}

@keyframes slider {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 100% 0px;
  }
}

section .container .content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(0, 0, 0, 0.418);
  border-top: .5rem solid white;
  color: white;
}

section .container .content:hover {
  background-color: rgba(0, 0, 0, 0.589);
  cursor: pointer;
}

section .container .content .imge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container .content .heading h1 {
  text-align: center;
}

section .container .content .heading h2 {
  text-align: center;
}

section .container .content .heading h3 {
  text-align: center;
}

section .container .content .button_m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container .content .button_m button {
  padding: .5rem 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

section .container .content .button_m button a {
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem;
}

section .container .content .button_m button:hover {
  background-color: #3DB2FF;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3DB2FF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .box1 {
  width: 300px;
  height: auto;
  background-color: brown;
  border: 2px solid green;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: #D773A2;
}

.card .box1 .cardtop {
  font-family: cursive;
}

.card .box1 .cardtop h3 {
  text-align: center;
  margin: .6rem;
}

.card .box1 .cardtop p {
  padding-left: .4rem;
  color: white;
  font-weight: 50;
  text-align: center;
}

.card .box1 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .box1 .btn button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #357edd;
  color: white;
  font-weight: 600;
  margin: 1rem 0rem;
}

.card .box1 .btn button:hover {
  color: #287ae6;
  background-color: white;
}

.card .box1:hover {
  cursor: pointer;
  background-color: #cf2876;
}

.card .box2 {
  width: 300px;
  height: auto;
  background-color: brown;
  border: 2px solid green;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: #07BB9C;
}

.card .box2 .cardtop {
  font-family: cursive;
}

.card .box2 .cardtop h3 {
  text-align: center;
  margin: .6rem;
}

.card .box2 .cardtop p {
  padding-left: .4rem;
  color: white;
  font-weight: 50;
  text-align: center;
}

.card .box2 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .box2 .btn button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #357edd;
  color: white;
  font-weight: 600;
  margin: 1rem 0rem;
}

.card .box2 .btn button:hover {
  color: #287ae6;
  background-color: white;
}

.card .box2:hover {
  cursor: pointer;
  background-color: #067c68;
}

.card .box3 {
  width: 300px;
  height: auto;
  background-color: brown;
  border: 2px solid green;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: #FFD743;
}

.card .box3 .cardtop {
  font-family: cursive;
}

.card .box3 .cardtop h3 {
  text-align: center;
  margin: .6rem;
}

.card .box3 .cardtop p {
  padding-left: .4rem;
  color: white;
  font-weight: 50;
  text-align: center;
}

.card .box3 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .box3 .btn button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #357edd;
  color: white;
  font-weight: 600;
  margin: 1rem 0rem;
}

.card .box3 .btn button:hover {
  color: #287ae6;
  background-color: white;
}

.card .box3:hover {
  cursor: pointer;
  background-color: #f8c611;
}

.card .box4 {
  width: 300px;
  height: auto;
  background-color: brown;
  border: 2px solid green;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: #A06AB4;
}

.card .box4 .cardtop {
  font-family: cursive;
}

.card .box4 .cardtop h3 {
  text-align: center;
  margin: .6rem;
}

.card .box4 .cardtop p {
  padding-left: .4rem;
  color: white;
  font-weight: 50;
  text-align: center;
}

.card .box4 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .box4 .btn button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #357edd;
  color: white;
  font-weight: 600;
  margin: 1rem 0rem;
}

.card .box4 .btn button:hover {
  color: #287ae6;
  background-color: white;
}

.card .box4:hover {
  cursor: pointer;
  background-color: #a048c0;
}

section {
  background-color: #dfd7d7;
}

section .about {
  background-color: #e2dfdf;
  width: 95vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .about .about1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .about .about1 figure {
  background-size: cover;
}

section .about .about1 figure img {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px #222;
          box-shadow: 5px 5px 5px #222;
}

section .about .about1 figure img:hover {
  opacity: .7;
}

section .about .about1 .dirimg {
  width: 20vw;
  height: 40vh;
  border-radius: 10rem;
}

section .about .about1 h2 {
  text-align: center;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0.5rem;
  margin: 0.5rem;
}

section .about .about1 p {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 500;
}

section .about .about1 .facimg:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
}

.container1 {
  background-color: #beb9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.container1 .contact {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container1 .contact .contact1 {
  width: 40vw;
  height: 70vh;
  margin: 4rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2.5rem solid #383838;
}

.container1 .contact .contact1 h1 {
  padding: 1rem;
}

.container1 .contact .contact1 .card1 {
  height: 19.4vh;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: cadetblue;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-bottom: 2px dotted black;
}

.container1 .contact .contact1 .card1 i {
  font-size: 2rem;
  color: white;
  padding-right: 0.5rem;
}

.container1 .contact .contact1 .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container1 .contact .contact1 .form form input {
  width: 100%;
  margin: .7rem auto;
  padding: .5rem 0;
  text-align: center;
}

.container1 .contact .contact1 .form form textarea {
  width: 100%;
}

.container1 .contact .contact1 .form form button {
  width: 100%;
  margin: .7rem 0;
  padding: .5rem 0;
}

.caution h1 {
  text-align: center;
  padding: 1rem 0;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 1rem 0.3rem;
  background-color: #adc5d4;
}

.caution .caution1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.caution .caution1 .rule1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  background-color: #f0e4e4;
  border: 2px solid #969292;
  border-radius: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto;
  height: 80vh;
}

.caution .caution1 .rule1 h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0.4rem;
}

.caution .caution1 .rule1 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caution .caution1 .rule1 .info img {
  width: 40%;
}

.caution .caution1 .rule1 .info p {
  padding-left: .5rem;
  font-family: cartoon;
  font-size: 1.5rem;
}

.caution .caution1 figure {
  width: 50%;
}

.caution .caution1 figure img {
  width: 20%;
  -webkit-animation: rotate 5s infinite 1s linear;
          animation: rotate 5s infinite 1s linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
  }
}

.covidsection .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.covidsection .button button {
  padding: 1rem .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 2rem;
}

.covidsection .button button:hover {
  -webkit-box-shadow: 5px 5px 6px #686666;
          box-shadow: 5px 5px 6px #686666;
  background-color: #757070;
  cursor: pointer;
}

.covidsection h1 {
  text-align: center;
  font-size: 3rem;
  font-family: fantasy;
  color: blue;
  font-weight: 250;
  padding: 1rem .3rem;
}

.covidsection h1 span {
  display: inline-block;
  -webkit-animation: name_1 2s infinite 1s linear;
          animation: name_1 2s infinite 1s linear;
  color: wheat;
}

@-webkit-keyframes name_1 {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes name_1 {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.covidsection .covid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #d7d7e4;
}

.covidsection .covid .part:nth-child(1) {
  background-color: #afbeee;
}

.covidsection .covid .part:nth-child(2) {
  background-color: #d4ca8c;
}

.covidsection .covid .part:nth-child(3) {
  background-color: #dabbaa;
}

.covidsection .covid .part:nth-child(4) {
  background-color: #b3e4aa;
}

.covidsection .covid .part:nth-child(5) {
  background-color: #ec8f8f;
}

.covidsection .covid .part:nth-child(6) {
  background-color: #376fc2;
}

.covidsection .covid .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  border-radius: 3rem;
  border: 2px solid black;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 6px #5e5c5c;
          box-shadow: 7px 7px 6px #5e5c5c;
}

.covidsection .covid .part .covid2 {
  color: #1b0101;
  width: 300px;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-family: fantasy;
  overflow: hidden;
}

.covidsection .covid .part .covid1 {
  text-align: center;
  width: 300px;
  height: 200px;
  overflow: hidden;
  text-shadow: 13px 14px 7px black;
  color: white;
  padding: 2rem 1rem;
  font-size: 3rem;
  font-family: fantasy;
}

.covidsection .covid .part .covid1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(5, 5, 5, 0.815);
}

.footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  height: 35vh;
}

.footer .foot ul li {
  list-style: none;
  padding: .3rem 1rem;
}

.footer .foot ul li:hover {
  background-color: #3DB2FF;
}

.footer .foot ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.footer .foot ul li span {
  font-size: 2rem;
  color: white;
}

.footer .foot p {
  color: white;
  font-size: 1.3rem;
}

.footer .foot p span {
  font-size: 2rem;
}

.footer .foot i {
  color: white;
  font-size: 4rem;
  margin: 1rem 2rem;
}

.copyright footer {
  text-align: center;
  padding: 1.2rem 0rem;
  font-size: 1.5rem;
  color: white;
  background-color: black;
}

.wrapper {
  background-color: #dadfba;
}

.wrapper h1 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
  background-color: #c8f039;
}

.wrapper .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .img-area .single-img {
  padding: 0 20px 20px;
  overflow: hidden;
}

.wrapper .img-area .single-img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .9s;
  transition: .9s;
  display: block;
  width: 100%;
}

.wrapper .img-area .single-img img:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.boxarea {
  font-family: cursive;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #798DA0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.boxarea .singlebox {
  position: relative;
  background: #264D60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: auto;
  text-align: center;
  margin: 20px;
  padding: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxarea .singlebox:hover {
  background-color: #3ac4ce;
  cursor: pointer;
}

.boxarea .singlebox .imgarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 20px;
  background-size: cover;
  background-position: center center;
}

.boxarea .singlebox .imgarea:nth-child(1).imgarea {
  background-image: url("/img/logo.png");
}

.boxarea .singlebox .imgtxt span strong {
  margin: .3rem 0;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .res-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: #000;
    cursor: pointer;
    padding: 20px 0;
    text-transform: uppercase;
    font-family: Poppins;
  }
  .res-menu i {
    padding-left: 1rem;
  }
  .menu-area {
    display: none;
  }
  input[type=checkbox]:checked ~ .menu-area {
    display: block;
  }
  .prenav .pre h1 {
    font-size: 1rem;
  }
  .prenav .pre h1 span {
    font-size: .5rem;
  }
  .prenav .pre:nth-child(1) img {
    width: 75%;
  }
  .prenav .pre:nth-child(3) {
    display: none;
  }
  .container {
    height: auto;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about1 p {
    width: 94vw;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact1 {
    min-width: 360px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .foot {
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .foot ul li {
    margin-right: 4rem;
  }
}
/*# sourceMappingURL=index.css.map */