<div class="footer">

        <div class="foot">
            <ul>
                <li><span>Imp links</span></li>
                <li><a href="/">Home</a> </li>
                <li><a href="/about">School Info</a> </li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/gallery">Gallery</a> </li>
                <li><a href="/service"> Service</a></li>
            </ul>
        </div>

        <div class="foot">

            <p>  
                <span>Contact us</span>
                <br> Public School
                 <br>Firozpur Jhirka, 
                 <br>Mewat,Haryana
                 <br>Phone:989448478
                 <br>Email:rahul@gmail.com
            </p>
        </div>
        <div class="foot">
            <a href="https://www.facebook.com" target="new"> <i class="fab fa-facebook"></i></a></i>
            <a href="https://www.instagram.com" target="new"><i class="fab fa-instagram"></i></a> 
            <a href="https://web.whatsapp.com" target="new"><i class="fab fa-whatsapp-square"></i></a> 
        </div>
    </div>
    <div class="copyright">
        <footer>Copyright &copy  2021-27 -All right reserved</footer>
    </div>