<div class="boxarea">
        <div class="singlebox">
            <div class="imgarea"></div>
                <div class="imgtxt">
                    <span ><strong>Mission</strong></span>
                    <p> Our mission  is to nurture our students to realize their own potential and identify and achieve their goals in an environment of rich tutelage, joyful and harmonious learning while keeping alive the spirit of togetherness and ‘Service Before Self’.</p>
                </div>
        </div>
        <div class="singlebox">
            <div class="imgarea"></div>
                <div class="imgtxt">
                    <span><strong>Mission</strong></span>
                    <p>Our mission  is to nurture our students to realize their own potential and identify and achieve their goals in an environment of rich tutelage, joyful and harmonious learning while keeping alive the spirit of togetherness and ‘Service Before Self’. </p>
                </div>
        </div>
        <div class="singlebox">
            <div class="imgarea"></div>
                <div class="imgtxt">
                    <span ><strong>Mission</strong></span>
                    <p> Our mission  is to nurture our students to realize their own potential and identify and achieve their goals in an environment of rich tutelage, joyful and harmonious learning while keeping alive the spirit of togetherness and ‘Service Before Self’. </p>
                </div>
            </div>
    </div>