
<div class="banner-area">
    <div class="prenav">
    <div class="pre">
        <img src="img/logo.png" alt="logo">
    </div>
    <div class="pre">
        <h1>Sarvodaya Public School<br> <span>We believe in hardwork</span></h1>
    </div>
    <div class="pre">
        <p>
            <span><i class="fas fa-phone-square-alt"></i>Contact us</span>
            <br>Firozepur Jhirka
            <br>Mewat,Haryana
            <br>Phone:989448478
            <br>Email:rahul@gmail.com
        </p>
    </div>
</div>
    <label for="res-menu" class="res-menu"><i class="fas fa-bars"></i> </label>
    <input type="checkbox" id="res-menu">
    <ul class="menu-area">
        <li><a href="/"><i class="fa fa-user"></i>Home</a></li>
        <li><a href="/about"><i class="fa fa-clone"></i>school info</a></li>
        <li><a href="/contact"><i class="fa fa-users"></i>contact</a></li>
        <li><a href="/service"><i class="fa fa-clone"></i>services</a></li>
        <li><a href="/gallery"><i class="fa fa-user"></i>Gallery</a></li>
    </ul>
    
</div>