<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
{{>nav}}
{{>prenav}}
<section>
    {{>mission}}
        <div class="about">
            <div class="about1">
                <figure><img class="dirimg" src="/img/pro.jpeg" alt="dir image"></figure>
                <div>Rahul Saini</div>
            </div>
            <div class="about1">
                 <h2>Principal Message</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque delectus adipisci expedita, excepturi
                    suscipit possimus minima, repellendus quos accusantium deserunt sit porro dolorum qui accusamus.
                    Eligendi non tempora voluptatem reprehenderit hic? Deserunt doloremque architecto eaque? Dicta
                    excepturi laboriosam ut ipsa vero veniam quisquam necessitatibus esse?</p>
            </div>
            
        </div>
        <div class="about">
            <div class="about1">
                <h2>About school</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, aut culpa. Corrupti dolore sed
                    incidunt, perspiciatis corporis illum temporibus architecto aspernatur, beatae minus rerum,
                    repudiandae doloribus explicabo ipsa sint sit natus exercitationem suscipit nisi aut. Ab culpa est
                    amet voluptatem eum commodi quibusdam explicabo hic velit minima, numquam aperiam delectus iure
                    aspernatur, mollitia optio assumenda dolore. Nulla, quibusdam numquam similique magni, ex possimus
                    ratione rerum eveniet amet nostrum deleniti commodi recusandae cumque velit nesciunt eligendi
                    dolore. Esse recusandae soluta laudantium minima sint hic quas, quo eius modi. Maxime ipsam, vero
                    distinctio nobis quia quae cumque sapiente? Sequi dolorem impedit nobis.
                </p>
            </div>
            <div class="about1">
                <figure><img src="/img/school.jpg" alt=""></figure>
            </div>
        </div>
        <div class="about">
            <div class="about1">
                 <figure><img src="/img/boys.png" alt="" class="facimg"></figure>
            </div>
            <div class="about1">
                <h2>About Faculty</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt excepturi consequuntur nostrum
                    vitae minus fuga at corrupti assumenda quia natus id temporibus optio, illum quam voluptate? Dicta,
                    dolores maxime. Accusamus ut maxime assumenda commodi, ipsum sequi quisquam rem quod qui enim a?
                    Est, accusantium qui provident quas optio quaerat doloribus voluptatibus fuga saepe neque temporibus
                    esse expedita quibusdam aut quasi autem, illo similique? Odio culpa veritatis beatae deleniti
                    pariatur, quasi aliquam omnis aliquid accusantium cumque ipsum reiciendis optio. Excepturi, quisquam
                    suscipit voluptate rem perferendis, quod pariatur magnam a similique provident iusto molestias
                    tempora architecto vitae fugit voluptates? Quos, recusandae omnis.</p>
            </div>

        </div>
    </section> 
    {{>footer}}
</body>
</html>