<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>prenav}}
    <div class="caution">
        
        <h1>CORONAVIRUS PRECAUTION GUIDELINES </h1>
        <div class="caution1">
            <div class="rule1">
                <h1>Wash hand with alchol sanitizers</h1>
                <div class="info"><img src="img/11.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde excepturi perspiciatis fugiat cum
                        hic culpa, dolores debitis modi esse, repudiandae exercitationem laboriosam minima perferendis
                        iste eaque est. Illo perferendis officia, ratione enim ab sint.</p>
                </div>
            </div>
            <div class="rule1">
                <h1>Always wear mask </h1>
                <div class="info"><img src="img/9.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magni inventore id reiciendis
                    iusto blanditiis, corporis, quas harum ipsum dolorem, vel assumenda quidem quis repellendus optio
                    aut corrupti consequatur fuga sapiente quam quae perspiciatis.</p></div>
            </div>
            <div class="rule1">
                <h1>Keep Social distance</h1>
                <div class="info"><img src="img/10.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi harum maxime quidem animi quae
                    dolores, molestiae eaque. Architecto optio nesciunt error nisi totam veniam? Quae labore saepe
                    dolorem ipsum iure asperiores nemo porro reprehenderit.</p></div>
            </div>
            <div class="rule1">
                <h1>Get vaccinated Soon</h1>
                <div class="info"><img src="img/12.png" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quae incidunt a. Sunt, at cum
                    perspiciatis eius temporibus unde iure beatae nesciunt dolorem animi reiciendis, blanditiis fugit,
                    dolorum corrupti quod nisi numquam voluptas rem.</p></div>
            </div>
        </div>
        <div class="caution1">
            <figure><img src="/img/corona.png" alt=""></figure>
        </div>
    </div>
    <section class="covidsection">
        <h1><span>🔴</span> Check Live Cases</h1>
        <div class="button"><button id="covid">click for latest updates</button></div>
        <div class="covid">
            <div class="part">
                <div class="covid2"><span>Our</span>Country</div>
                <div class="covid1" id="id45">India</div>
            </div>
            <div class="part">
                <div class="covid2"><span>Total</span> Cases</div>
                <div class="covid1" id="id1">33894312</div>
            </div>
            <div class="part">
                <div class="covid2"><span>Total</span>Confirmed</div>
                <div class="covid1" id="id2">33894264</div>
            </div>
            <div class="part">
                <div class="covid2"><span>Total</span> Recoverd</div>
                <div class="covid1" id="id3">33200258</div>
            </div>
            <div class="part">
                <div class="covid2"><span>Total</span>Death</div>
                <div class="covid1" id="id4">449856</div>
            </div>
            <div class="part">
                <div class="covid2">Last Updates</div>
                <div class="covid1" id="id6">25/10/21</div>
            </div>

        </div>
    </section>
    {{>footer}}
    <script src="/js/index.js"></script>
</body>

</html>