<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>prenav}}
    {{>nav}}
    <div class="wrapper">
        <h1>Events Memories</h1>
        <div class="img-area">
            <div class="single-img"><img src="/img/1.jpg" alt=""></div>
            <div class="single-img"><img src="/img/2.jpg" alt=""></div>
            <div class="single-img"><img src="/img/3.jpg" alt=""></div>
            <div class="single-img"><img src="/img/4.jpg" alt=""></div>
            <div class="single-img"><img src="/img/5.jpg" alt=""></div>
            <div class="single-img"><img src="/img/6.jpg" alt=""></div>
            <div class="single-img"><img src="/img/7.jpg" alt=""></div>
            <div class="single-img"><img src="/img/8.jpg" alt=""></div>
        </div>
    </div>
    {{>footer}}
</body>

</html>