<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>prenav}}
    {{>nav}}
    <section>
    <div class="container">
        <div class="content">
            <div class="imge">
                <figure><img src="img/logo.png" alt=""></figure>
            </div>
            <div class="heading">
                <H1>SARVODYA PUBLIC SCHOOL</H1>
                <H2>WARD NO.9 FIROZEPUR JHIRKA DIST HARYANA NUH MEWAT</H2>
                <h3>recognised by haryana board of technical education</h3>
            </div>
            <div class="button_m"><button><a href="/about">Read more</a></button></div>

        </div>
    </div>
    </section>
    <div class="card">
        <div class="box1">
            <div class="cardtop">
                <h3>School info</h3>
                <p>Sarvodaya Public School established in year 2000.We provide excellence learning path for every
                    student.</p>
            </div>
            <div class="btn">
                <button>Read more</button>
            </div>
        </div>
        <div class="box2">
            <div class="cardtop">
                <h3>time table</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas quasi ex hic animi.</p>
            </div>
            <div class="btn">
                <button>Read more</button>
            </div>
        </div>
        <div class="box3">
            <div class="cardtop">
                <h3>Covid Guide </h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas quasi ex hic animi.</p>
            </div>
            <div class="btn">
                <a href="/covid" ><button >Covid info</button></a>
            </div>
        </div>
        <div class="box4">
            <div class="cardtop">
                <h3>School uniform</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas quasi ex hic animi.</p>
            </div>
            <div class="btn">
                <button>Read more</button>
            </div>
        </div>
    </div>
   

    {{>mission}}
    {{>footer}}
    
   

</body>

</html>